name: Retrain LSTM 1 Hari

on:
  schedule:
    - cron: "30 13 * * *" # Setiap hari jam 20:30 WIB (13:30 UTC)
  workflow_dispatch: # Bisa dijalankan manual juga

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run LSTM 1 Hari
        env:
          GCP_CREDS: ${{ secrets.GCP_CREDS }}
        run: |
          python lstm_1hari.py
