name: Retrain LSTM 15 Menit

on:
  schedule:
    - cron: "0 2,10,18 * * *" # Setiap hari jam 09:00, 17:00, 01:00 WIB (02:00, 10:00, 18:00 UTC)
  workflow_dispatch: # Bisa dijalankan manual juga

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run LSTM 15 Menit
        env:
          GCP_CREDS: ${{ secrets.GCP_CREDS }}
        run: |
          python lstm_15menit.py
